doctype html
html(lang="en")
    head
        title= "Maarten Van den Bergh"
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
        link(rel="stylesheet", href="styles/main.css")
        link(href="https://fonts.googleapis.com/css?family=Bungee|Roboto", rel="stylesheet")
    body
        include ./sections/header
        include ./sections/content
        include ./sections/footer
        script(src="app/app.js")