$colour-accent : rgb(234, 112, 100);
$colour-border-default : gray;
$colour-brand-facebook : #3b5998;
$colour-brand-mail : #ffd200;
$colour-brand-twitter : #1da1f2;
$colour-brand-linkedin : #0077b5;
$colour-button-default : white;
$colour-button-default-3d : $colour-border-default;
$colour-header-default : white;
$colour-shadow-default : black;
$colour-text-default-dark:black;
$colour-text-default-light : white;
