@import 'colours';
@import 'fonts';
@import 'images';
@import 'animations';
@import 'spacing';
@import 'shared';

$shadow-default: 0 1px 7px 0px $colour-shadow-default;
$spacing-default-medium: 10px;
$spacing-default-small: 5px;
$spacing-default-large: 20px;
$spacing-default-verylarge: 50px;
$border-radius-default: 5px;

html{
    font-family: $font-main;
    padding:0;
    margin:0;
    color: $colour-text-default-dark;
}
body{
    @extend html;
}
.header{
    width:100%;
    padding-top:62px;
    position: relative;
    background-color: transparent;
    box-shadow: $shadow-default;
    a, button{
       box-shadow: $shadow-default; 
    }
    .banner{
        opacity: 1;
        position: absolute;
        top:0;
        left:0;
        background-image: $image-banner;
        background-position: center bottom;
        height:100%;
        width:100%;
        z-index:-1;
    }
    .picture{
        box-shadow: $shadow-default;
        margin: 0 auto $spacing-default-large auto;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-image: $image-picture;
        background-position: center;
        background-size: contain;
        animation-name: spotlight-out;
        animation-duration:0.5s;
        animation-direction:alternate;
        &:hover{
            animation-name: spotlight-in;
            animation-duration:4s;
            animation-fill-mode: forwards;
        }
    }
    .name{
        line-height: 50px;
        font-family: $font-logo;
        text-align: center;
        color:$colour-text-default-light;
        font-size:50px;
        margin:$spacing-default-verylarge 0 $spacing-default-verylarge 0;
        display: block;
        text-shadow: $shadow-default;
        span{
            display: inline-block;
        }
    }
    .navigation{
        @include container;
        bottom:0px;
        display: flex;
        a{
            flex:1;
            margin: $spacing-default-medium $spacing-default-small;
            padding: $spacing-default-small $spacing-default-small;
            border-radius: $border-radius-default;
            background-color: $colour-button-default;
            text-decoration: none;
            color:$colour-text-default-dark;
            text-align: center;
            font-weight: bold;
            &:hover{
                box-shadow:
                        0 1px 0px 0 $colour-button-default-3d,
                        0 2px 0px 0 $colour-button-default-3d,
                        0 3px 0px 0 $colour-button-default-3d;
                transform: translateY(-3px);
                transition: 
                    transform 0.2s,
                    box-shadow 0.2s
                ;
            }
            &:first-child{
                margin-left: $spacing-default-medium;
            }
            &:last-child{
                margin-right: $spacing-default-medium;
            }
            i{
                display: block;
                text-align: center; 
            }
            span{
                margin-left: $spacing-default-small;
            }
        }
        .scrollToTop{
            display: none;
            position: fixed;
            bottom: $spacing-default-medium;
            right: $spacing-default-medium;
            width: 46px;
            height: 46px;
            border-radius: 50%;
            border: none;
            outline: none;
            color: $colour-text-default-light;
            background-color: $colour-accent;
            box-shadow: $shadow-default;
        }
    }
    .social{
        position: absolute;
        top:$spacing-default-medium;
        right:$spacing-default-medium;
        a{
            color:$colour-text-default-light;
            display: inline-block;
            border-radius: 50%;
            width:30px;
            height:30px;
            text-align: center;
            vertical-align: middle;
            line-height: 30px;
            margin-left:$spacing-default-small;
            &.facebook{
                background-color: $colour-brand-facebook;
            }
            &.mail{
                background-color: $colour-brand-mail; 
            }
            &.twitter{
                background-color: $colour-brand-twitter;
            }
            &.linkedin{
                background-color: $colour-brand-linkedin;
            }
        }
    }

    &.collapsed{
        position: fixed;
        top:0;
        padding-top: 0px;
        background-color:$colour-header-default;
        a, button{
            box-shadow: none;
        }
        .banner{
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }
        .name{
            margin:0;
            line-height: 49px;
            font-size:16px;
            text-shadow: none;
            display: inline-block;
            text-align: left;
            vertical-align: top;
            color:$colour-text-default-dark;
        }
        .picture{
            box-shadow: none;
            height: 30px;
            width: 30px;
            margin: 11px 11px 0 11px;
            display: inline-block;
            &:hover{
                animation: none;
            }
        }
        .navigation{
            .scrollToTop{
                display: inline-block;
            }
            &>*{
                display: none;
            }
        }

        &.withNavigation{
            .navigation{
                a{
                    border:1px solid $colour-border-default;
                }
                & > *{
                    display: inline-block;
                }
            }
        }
    }
}
.content{
    @include container;
    .topic{
        h1{
            font-family: $font-title;
            margin: 0 $spacing-default-medium;
        }
    }
    .kanban{
        display: flex;
        flex-direction: column;
        .lane{
            display: flex;
            flex-direction: row;
            border: solid black;
            border-width: 2px 0 0 0;
            .title{
                writing-mode: vertical-rl;
                padding: $spacing-default-medium;
                width: 18px;
            }
            .board{
                flex:1;
                display: flex;
                flex-wrap: wrap;
                padding: $spacing-default-medium /2;
                .projectCard{
                    margin:$spacing-default-medium /2;
                }
            }
        }
        .lane:first-child{
            
        }
        .lane:last-child{
            border: solid gray;
            border-width: 2px 0;
        }
    }
    .projectCard{
        overflow:hidden;
        display: flex;
        width: 240px;
        height:210px;
        border-radius: $border-radius-default;
        background: white;
        box-shadow: $shadow-default;
        .employer{
            background-color: orange;
            color: $colour-text-default-light;
            writing-mode: vertical-rl;
            width:$spacing-default-large;
            text-align: center;
            border-radius: $border-radius-default 0 0 $border-radius-default;
        }
        .body{
            transition: margin 0.5s;
            flex:1;
            img{
                width:100%;
                height: 40%;
                display: block;
            }
            .name{
                font-weight: bold;
                padding: $spacing-default-small;
            }
            .detail{
                font-size: 13px;
                padding: $spacing-default-small $spacing-default-small 0 $spacing-default-small;
            }
            .detail:last-child{
            }
        }
        .externalEmployer{
            color: $colour-text-default-light;
            writing-mode: vertical-rl;
            background-color: blue;
            width:$spacing-default-large;
            margin-left:-$spacing-default-large;
            text-align: center;
        }
        .client{
            color: $colour-text-default-light;
            writing-mode: vertical-rl;
            background-color: red;
            width:$spacing-default-large;
            text-align: center;
            border-radius: 0 $border-radius-default $border-radius-default 0;
        }
    }
    .projectCard:hover{
        overflow: hidden;
        .body{
            margin-top: -130%;
            transition: margin 0.5s;
            /*
            img{
                margin-top: -42%;
                transition: margin 0.5s ease-in-out;
            }
            .name{
                display: none;
            }
            .detail:not(:last-child){
                display: none;
            }*/
            .detail:last-child{
                height: 100%;
            }
            
        }
    }
}
.footer{
    @include container;
    height:200px;
}

@import 'media/450px';
@import 'media/510px';
@import 'media/800px';