include ../mixins/topic
.section
    +topic(topics.education)
        |hheadahdaohoadohadhadhad dadad adadadadaohdohababbadajdbj
        |aafafaaf afafa afaf afafafafafa afafafafafaa
        |fafafafafaf af afafafafaf afafafa afafafaf afafa.