body, html{
    padding:0;
    margin:0;
}
button{
    border:none;
    background-color: white;
}
body::after {
    background-image: url("../pattern-dark.png");
    background-repeat: repeat;
    background-size: 400px;
    content: "";
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.container{
    width:800px;
    margin-left: auto;
    margin-right: auto;
}
.shadowed{
    box-shadow: 0 2px 5px 0px black;
}
.header{
    position:sticky;
    width:100%;
    background-image: url("../banner.jpeg");
    background-position: center bottom;
    padding-top:30px;
}
.collapsed{
    position: fixed;
    top:0;
    padding-top:0;
    margin-bottom:150px;
}
.header.collapsed .picture,
.header.collapsed .name,
.header.collapsed .social{
    display: none;
}
.header .navigation {
    bottom:0px;
    padding: 7px;
    display: flex;
}
.header .navigation button{
    flex:1;
    margin:7px;
    padding: 10px 5px;
    border-radius:0;
}
.header .navigation button:hover{
    background-color: lightcoral;
}
.header .picture{
    margin: 0 auto 20px auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-image: url("../picture.jpg");
    background-position: center;
}
.header .name{
    text-align: center;
    color:white;
    font-size:50px;
    margin:20px 0 50px 0;
    display: block;
}
.social{
    position: absolute;
    top:10px;
    right:10px;
}
.social a{
    color:white;
    display: inline-block;
    background-color: green;
    border-radius: 50%;
    width:30px;
    height:30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    margin-left:5px;
}
.social a.mail{
    background-color: #ffd200;
}
.social a.facebook{
    background-color: #3b5998;
}
.social a.twitter{
    background-color: #1da1f2;
}
.header,
.header button,
.header a,
.header name,
.header picture,
{
    box-shadow: 0 2px 5px 0px black;
}
.topic{

}
.topic h1{
    
}
.topic .card{
    background-color: lightblue;
    padding:7px;
}